<h2 mat-dialog-title>Add New Organizaiton</h2>

<div mat-dialog-content>
    <img src="{{itemLogo}}" alt="itemLogo">
    <form [formGroup]="itemForm">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput placeholder="Title">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Tracking in use</mat-label>
            <input formControlName="trackinuse" matInput placeholder="Tracking in use">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Tracking Assigned</mat-label>
            <input formControlName="trackAssigned" matInput placeholder="Tracking Assigned">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Protection in use</mat-label>
            <input formControlName="protinuse" matInput placeholder="Protection in use">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Protection Assigned</mat-label>
            <input formControlName="protAssigned" matInput placeholder="Protection Assigned">
        </mat-form-field>
    </form>

</div>

<!-- Dialog buttons -->
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="addNewItem()" [disabled]="itemForm.invalid">Save</button>
</div>