<ng-container>
    <div class="container responsive-grid">
        <mat-toolbar>
            <p>All Organizations(<span>{{organsLength?.length}}</span>)</p>
            <mat-form-field appearance="outline" class="searchForm">
                <mat-label>Search Organization</mat-label>
                <input matInput [(ngModel)]="input" (ngModelChange)="onChange($event)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Sorting by Date</mat-label>
                <mat-select (selectionChange)="sortByD($event)">
                    <mat-option>Clear</mat-option>
                    <mat-option value="{{direction}}" *ngFor="let direction of dateDirections">
                        {{ direction }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" aria-label="Example icon-button" (click)="openDialog()">
                <span>Add New Organization</span>
            </button>
        </mat-toolbar>
    </div>
</ng-container>