.example-spacer {
    flex: 1 1 auto;
  }
  
  .example-spacer-two {
    padding-left: 100px;
  }

  mat-form-field {
    margin: 20px 0px 0px 150px
  }

 .card-content {
  display: flex;
 }

 mat-card {
  padding: 0px 40px 0px 30px;
 }
 
 