.container {
  padding: 24px;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 530px));
  gap: 24px;
}

img {
  width: 10%;
  height: 50px;

}

.card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-content {
  display: flex;
}

mat-card {
  border-radius: 10px;
}

mat-card-title {
  margin-top: 2%;
  margin-left: 5%;
}

.t-in-use {
  color: red;
}

.p-in-use {
  color: green;
}

.t-assigned-input {
  width: 20%;
}

.p-assigned-input {
  width: 20%;
}